:root {
  /* GLOBAL */
  --cor-fonte: #fff;
  --cor-primaria: #ab3131;
  --fundo: #1d1d1d;

  /* HEADER */
  --fundo-header: #1d1d1d;
  --borda-header: #1d1d1d;
  --fundo-scroll: #111111;
  --borda-scroll: rgba(0, 0, 0, 0.3);
  --menu: rgba(255, 255, 255, 0.85);
  --menu-hover: #fff;
  --fundo-hamburguer: #fff;

  /* INTRODUCAO */
  --borda-periodo: #ffffff5b;
  --cor-local: #ccc;
  --cor-stacks: #fff;
  --cor-stacks2: #111;
  --borda-stacks: #fff;

  /* EXPERIENCIA */
  --cor-titulo: radial-gradient(
    circle at left,
    #cbcbcb 0%,
    #f1f1f1 15%,
    #aeadad 36%,
    #797979 61%,
    #525252 89%,
    #323232 100%
  );
  --cor-seta: rgba(48, 48, 48, 0.5);
  --cor-hover: #8a2929;
  --cor-linguagens: #fff;
  --cor-borda-retangulo: #47474786;

  /* FORMACAO */
  --fundo-formacao: #212121;
  --cor-cursos: #8d8d8d;

  /* RODAPE */
  --fundo-redes-sociais: rgba(50, 50, 50, 0.6);
  --borda-contato: #4b4b4b;
  --fundo-rodape: #1d1d1d;

  /* RESPONSIVIDADE */
  --sombra-menu: rgba(0, 0, 0, 0.5);
  --sombra-borda: rgba(255, 255, 255, 0.1);
  --cor-titulo-celular: linear-gradient(
    #cbcbcb 0%,
    #f1f1f1 15%,
    #aeadad 36%,
    #797979 61%,
    #525252 89%,
    #323232 100%
  );
}

@media (prefers-color-scheme: light) {
  :root {
    /* GLOBAL */
    --cor-fonte: #111;
    --cor-primaria: #ab3131;
    --fundo: #fff;

    /* HEADER */
    --fundo-header: #fff;
    --borda-header: rgba(255, 255, 255, 0.05);
    --fundo-scroll: #e6e5e5;
    --borda-scroll: rgba(0, 0, 0, 0.2);
    --menu: #4e4e4e;
    --menu-hover: #111;
    --fundo-hamburguer: #111;

    /* INTRODUCAO */
    --borda-periodo: #ffffff5b;
    --cor-local: #4e4e4e;
    --cor-stacks: #111;
    --cor-stacks2: #fff;
    --borda-stacks: #c2c2c2;

    /* EXPERIENCIA */
    --cor-titulo: #474747;
    --cor-seta: rgba(255, 255, 255, 0.5);
    --cor-hover: #8a2929;
    --cor-borda-retangulo: #47474759;

    /* FORMACAO */
    --fundo-formacao: #eee;
    --cor-cursos: #474747;

    /* RODAPE */
    --fundo-redes-sociais: rgb(192, 192, 192);
    --borda-contato: #ffffff;
    --fundo-rodape: rgba(168, 168, 168, 0.336);

    /* RESPONSIVIDADE */
    --sombra-menu: rgba(0, 0, 0, 0.5);
    --sombra-borda: rgba(255, 255, 255, 0.1);
    --cor-titulo-celular: linear-gradient(
      #323232 100%,
      #525252 15%,
      #797979 36%,
      #aeadad 61%,
      #f1f1f1 89%,
      #cbcbcb 100%
    );
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--fundo);
  font-family: Poppins, sans-serif;
  opacity: 0;
  animation: aparecerBody 0.2s ease-out forwards;
}
main {
  max-width: 100%;
}
img {
  display: block;
}
@keyframes aparecerBody {
  to {
    opacity: 1;
  }
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
