.rodape {
  width: 100%;
  background: var(--fundo);
}

.container-rodape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.lado-esquerdo-rodape {
  padding: 100px;
  margin-top: 40px;
  color: var(--cor-fonte);
  width: 600px;
}

.momento {
  font-size: 18px;
}

.redes-sociais {
  display: flex;
  gap: 20px;
  padding: 50px 0;
}

.social-link {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--fundo-redes-sociais);
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-link:hover {
  background: var(--cor-primaria);
  transform: translateY(-3px);
}

.linkedin,
.instagram,
.github {
  transition: all 0.3s ease-in-out;
}

.linkedin:hover,
.instagram:hover,
.github:hover {
  transform: translateY(-2px);
}

.lado-direito-rodape {
  padding: 100px;
  margin-top: 30px;
  color: var(--cor-fonte);
}

.container-contato {
  background: none;
  border: 1px solid var(--borda-contato);
  border-radius: 20px;
  padding: 50px;
  width: 500px;
  height: 316.4px;
  margin-left: -170px;
}

.container-contato::before {
  content: "";
  background: url("../img/vermelho-detalhe.svg");
  width: 58px;
  height: 67px;
  position: absolute;
  margin-left: -70px;
  margin-top: -70px;
}

.container-contato h3 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
  font-size: 30px;
}

.footer-contato {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}

.footer-link {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
}

.footer-link img {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: var(--fundo-img);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.footer-link:hover img {
  background-color: var(--cor-primaria);
}

.footer-contato a {
  color: var(--cor-fonte);
  text-decoration: none;
  font-size: 1.3rem;
}

.footer-contato a:hover {
  color: var(--cor-primaria);
  transition: all 0.2s ease-in-out;
}
