.rodape {
  width: 100%;
  background: #1d1d1d;
}

.container-rodape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.lado-esquerdo-rodape {
  padding: 100px;
  margin-top: 40px;
  color: #fff;
  width: 600px;
}

.momento {
  font-size: 18px;
}

.redes-sociais {
  display: flex;
  gap: 20px;
  padding: 50px 0;
}

.linkedin,
.instagram,
.github {
  transition: all 0.3s ease-in-out;
}

.linkedin:hover,
.instagram:hover,
.github:hover {
  transform: translateY(-2px);
}

.lado-direito-rodape {
  padding: 100px;
  margin-top: 30px;
  color: #fff;
}

.container-contato {
  background: none;
  border: 1px solid #4b4b4b;
  border-radius: 20px;
  padding: 50px;
  width: 500px;
  height: 316.4px;
  margin-left: -170px;
}

.container-contato h3 {
  display: flex;
  justify-content: start;
  margin-bottom: 25px;
  font-size: 30px;
}

.linha-email,
.linha-telefone {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.linha-telefone {
  margin-top: 30px;
  gap: 20px;
}

.linha-email a,
.linha-telefone a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.linha-email a:hover,
.linha-telefone a:hover {
  text-decoration: underline;
  color: #ab3131;
}

.linha-email img,
.linha-telefone img {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.linha-telefone img {
  margin-left: 2px;
}

.linha-email img:hover,
.linha-telefone img:hover {
  transform: translateY(-2px);
}
